<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Serving Static file</title>
</head>
<body>
    <div class="card">
        <h2>Welcome to Demo API</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam soluta, eius libero magni dolorum cumque atque praesentium veniam ratione nam dolores et nihil officia in dolor natus placeat aliquid tempora!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odio vel qui animi, dolorem dolore quia ea minus delectus accusantium porro aliquid, consectetur, quasi blanditiis inventore alias. Delectus, doloremque veniam!</p>
    </div>
</body>
</html>